
body{
  /* This would be default font style for all the text on the webpage if not explicitly stated otherwise*/
  font-family: 'Ubuntu', sans-serif;
}

a{
  color:#ffffff;

}

article{
  font-family: 'Abel', sans-serif;
}

label{
    cursor: pointer;
}

#logo{
    height:150px;
    width:100px;
    float:left;
    padding-right: 20px;
    padding-left: 10px;
}
li{
    display:inline;
    padding-right: 10px;
    padding-bottom:  2px ;
    padding-top: 6px;
}

ul a{
    text-decoration: none;
}
.mainHeader ul a:hover{
    text-decoration: underline;
    background: #ffb380;

}
.colImage:hover{

  width:90%;
  background-color: #ffb380;
}
.colContent:hover{

  font-weight: bold;
}

.navBar{
    float: auto;
    background-color: #ff6600;
  /*  background:#bd4b2b;*/

}
.navBar li{
    border-left: 2px solid #eaeaed;
    padding-left: 4px;
    font-weight:normal;

}
.preview{
    float:right;
    width:500px;
}
.colImage{
    height:300px;
    width:350px;
    padding-bottom: 5px;
}
.hero{

    padding: 60px;
    margin-top: 180px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

}
.mainHeader{
  position:fixed;
  height:200px;
  width:960px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}
.mainDesc{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
h4{
  padding-top: 5px;
}
.hero h1{
  font-family: 'Baloo Bhaina', cursive;
}

.grid_6{
  float: left;
}
.rows{
  height:100px;
  padding-left: 30px;
  border-bottom: thick dotted #ff0000;

}
#twoSection{
  padding-bottom: 50px;
}
#row1{

  padding-top: 70px;
}
footer{
  height:40px;
  background: #434a50;
  border-top: 50px;
  padding-top: 15px;
}
footer ul li{
  border-top: 3px;
}
.headingBangs{
  background-color: #bd4b2b;
}
.content{
  font-family: 'Raleway', sans-serif;
}
.content:hover{
  font-variant: small-caps;
  background-color: #ffb380;

}
/*
.tooltip {
    position: relative;


}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;


    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
*/
